html {
    font-size: 10px;
    background: url('background.jpg') bottom center;
    background-size: cover;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.keys {
    flex: 1;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.key {
    text-align: center;
    width: 10rem;
    margin: 1rem;
    background: rgba(231, 29, 54, 0.4);
    transition: all 0.1s ease;
    border: .4rem solid #011627;
    border-radius: 2rem;
    padding: 1rem .5rem;
    font-size: 1.5rem;
    color: #fdfffc;
    text-shadow: 0 0 .5rem #011627;
    cursor: pointer;
}

.key:hover {
    transform: scale(1.25);
    border-color: #ff9f1c;
    box-shadow: 0 0 1rem #ff9f1c;
}

.key:active {
    transform: scale(0.90);
}

.key.playing {
    transform: scale(1.25);
    border-color: #ff9f1c;
    box-shadow: 0 0 1rem #ff9f1c;
}

kbd {
    display: block;
    font-size: 5rem;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    /* color: #ff9f1c; */
    color: #2ec4b6;
}