html {
    font-size: 10px;
    background: url('background.jpg') bottom center;
    background-size: cover;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.keys {
    /* flex: 1; */
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.key {
    border: .4rem solid #011627;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all 0.1s ease;
    width: 10rem;
    text-align: center;
    color: #fdfffc;
    /* background: rgba(0, 0, 0, 0.4); */
    background: rgba(231, 29, 54, 0.4);
    text-shadow: 0 0 .5rem #011627;
}

.playing {
    transform: scale(1.25);
    border-color: #ff9f1c;
    box-shadow: 0 0 1rem #ff9f1c;
}

kbd {
    display: block;
    font-size: 5rem;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    /* color: #ff9f1c; */
    color: #2ec4b6;
}